<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total_leaves">
                <div class="card-header">
                    <h5 class="card-title">Total Leaves</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_leaves}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Approved_Leaves">
                    <div class="card-header">
                        <h5 class="card-title">Approved Leaves</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{approved}}</h3>
                    </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Approved_Leaves">
                    <div class="card-header">
                        <h5 class="card-title">Rejected Leaves</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{rejected}}</h3>
                    </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Pending_Leaves">
                    <div class="card-header">
                        <h5 class="card-title" style="color:black;">Pending Leaves</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="color: black;">{{pending}}</h3>
                    </div>
            </div>
        </div>
    </div>

</div>